absl-py==0.14.1
astor==0.8.1
cached-property==1.5.2
certifi==2021.5.30
charset-normalizer==2.0.6
colorama==0.4.4
dataclasses==0.8
gast==0.5.2
google-pasta==0.2.0
grpcio==1.41.0
h5py==3.1.0
idna==3.2
importlib-metadata==4.8.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
lmdb==1.2.1
Markdown==3.3.4
numpy==1.19.5
opencv-python==4.5.3.56
Pillow==8.3.2
protobuf==3.18.0
requests==2.26.0
scipy==1.5.4
six==1.16.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.6.0
