# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=0.14.1=pypi_0
astor=0.8.1=pypi_0
cached-property=1.5.2=pypi_0
certifi=2021.5.30=py36haa95532_0
charset-normalizer=2.0.6=pypi_0
colorama=0.4.4=pypi_0
dataclasses=0.8=pypi_0
gast=0.5.2=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.41.0=pypi_0
h5py=3.1.0=pypi_0
idna=3.2=pypi_0
importlib-metadata=4.8.1=pypi_0
keras-applications=1.0.8=pypi_0
keras-preprocessing=1.1.2=pypi_0
lmdb=1.2.1=pypi_0
markdown=3.3.4=pypi_0
numpy=1.19.5=pypi_0
opencv-python=4.5.3.56=pypi_0
pillow=8.3.2=pypi_0
pip=21.0.1=py36haa95532_0
protobuf=3.18.0=pypi_0
python=3.6.13=h3758d61_0
requests=2.26.0=pypi_0
scipy=1.5.4=pypi_0
setuptools=58.0.4=py36haa95532_0
six=1.16.0=pypi_0
sqlite=3.36.0=h2bbff1b_0
tensorboard=1.14.0=pypi_0
tensorflow-estimator=1.14.0=pypi_0
tensorflow-gpu=1.14.0=pypi_0
termcolor=1.1.0=pypi_0
tqdm=4.62.3=pypi_0
typing-extensions=3.10.0.2=pypi_0
urllib3=1.26.7=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
werkzeug=2.0.1=pypi_0
wheel=0.37.0=pyhd3eb1b0_1
wincertstore=0.2=py36h7fe50ca_0
wrapt=1.12.1=pypi_0
zipp=3.6.0=pypi_0
